<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        {% load static %}
        <script src="{% static "menu_backend/initial.js/" %}"></script>
        <h1>Coffee Cart Menu</h1>
        {% for item in items %}
            <a class="item-ref">{{ item }}</a><br>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if items.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ items.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ items.number }} of {{ items.paginator.num_pages }}.
                </span>

                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}">next</a>
                    <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="Add-Buttons">
            <form action="{% url 'add-view' %}" method="get" id="add-types">
                <input type="radio" name="type" value="snack"> Snack <br>
                <input type="radio" name="type" value="drink"> Drink <br>
                <input type="submit" value="New Item">
            </form>
        </div>
    </body>
</html>
{% csrf_token %}
