<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Coffee Cart Item</h1>
        <h2> {{item.name}}</h2>
        <p><strong> Type: </strong>{{item.type}} </p>
        <strong>Ingredients:</strong><br>
        {% for ingredient in item.ingredients%}
            {{ingredient}} <br>
        {% endfor%}
        <br>
        <strong>Goes well with:</strong><br>
        {% for side_item in item.goes_well_with%}
            {{side_item}} <br>
        {% endfor%}
        <br><br>
        <form action="{% url 'update-view' %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Update">
            <input type="hidden" value="{{item.name}}" name="name">
        </form>
        <form action="{% url 'delete-item' %}" method='post'>
            <input type="Submit" value="Remove from menu">
            <input type="hidden" value="{{item.name}}" name="name">
            {% csrf_token %}
        </form> 
        <form action="{% url 'index' %}" method='get'>
            <input type="Submit" value="Back to menu">
            {% csrf_token %}
        </form> 
    </body>
</html>
{% csrf_token %}
