<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Coffee Cart Item</h1>
        <h2> {{item.name}}</h2>
        <p><strong> Type: </strong>{{item.type}} </p>
        <strong>Ingredients:</strong><br>
        {% for ingredient in item.ingredients%}
            {{ingredient}} <br>
        {% endfor%}
        <br>
        <strong>Goes well with:</strong><br>
        {% for side_item in item.goes_well_with%}
            {{side_item}} <br>
        {% endfor%}
        <br><br>
        <form action="{% url 'update-view' %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Update">
            <input type="hidden" value="{{item.name}}" name="name">
        </form>
        <form action="{% url 'delete-item' %}" method='post'>
            <input type="Submit" value="Remove from menu">
            <input type="hidden" value="{{item.name}}" name="name">
            {% csrf_token %}
        </form> 
        <form action="{% url 'index' %}" method='get'>
            <input type="Submit" value="Back to menu">
            {% csrf_token %}
        </form> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
{% csrf_token %}
